.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 582px;
    height: 52px;
    background: #FF6060;
    border-radius: 10px;
    cursor: pointer;
}

.name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding-left: 1rem;
}

.icon{
    color: white;
    margin-right: 1rem;
}

.open{
    transform: rotate(180deg);
}

.dropdownList{
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    border-radius: 10px;
    width: 582px;
    padding: 1rem 0 1rem 0;
    row-gap: .5rem;
}

.elementName{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
    list-style-type: none;
    padding-left: .5rem;
}