.error{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color:#FF6060;
    row-gap: 182px;
    margin: 3rem 0;
    &__404{
        font-size: 288px;
        margin: 2rem 0;
    }
    &__message{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text{
            font-size: 36px;
        }
    }
    &__link{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size:18px;
        text-decoration-line: underline;
        cursor: pointer;
        color:#FF6060;
    }
}

@media (max-width:767px){
    .error{
        &__404{
            font-size: 64px;
        }
        &__message{
            &__text{
                font-size: 24px;
                text-align: center;
            }
        }
        &__link{
            font-size: 16px;
        }
    }
}

@media (min-width:768px) and (max-width:1440px){
    .error{
        &__404{
            font-size: 144px;
        }
        &__message{
            &__text{
                font-size: 24px;
                text-align: center;
            }
        }
        &__link{
            font-size: 18px;
        }
    }
}