.infos{
    display: flex;
    max-width: 1240px;
    margin: 2rem auto;
    justify-content: space-between;
    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        color: #FF6060;
        margin: 30px 0 0 0;
    }
    &__localisation{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin-top: 0;
        color:#FF6060
    }
    &__tags{
        display: flex;
        column-gap: 1rem;
    }
    &__host{
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: flex-end;
    }
    &__hostName{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FF6060;
        width: 93px;
        text-align: end;
        margin-right: 1rem;
    }
    &__hostPicture{
        width: 64px;
        height: 64px;
        border-radius: 3rem;
    }
    &__rate{
        display: flex;
        justify-content: end;
        column-gap: 1rem;
        margin-top: 1rem;
    }
}

.dropdowns{
    margin: 2rem auto;
    display: flex;
    max-width: 1240px;
    justify-content: space-between;
}

@media(max-width:1200px){
    main{
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 94%;
    }
    .dropdowns{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1400px){
    .dropdowns{
        margin: 2rem auto;
        display: flex;
        max-width: 1240px;
        justify-content: space-between;
    }
}