.carrousel{
    display: flex;
    align-items: center;
    position: relative;
    &__image{
        &__medium{
            width:335px;
            height: 255px;
            border-radius: 10px;
        }
        &__large{
            width: 1240px;
            height: 415px;
            object-fit: cover;
            border-radius: 25px;
            display: block;
        }
    }
    &__chevronLeft{
        &__medium{
            left: 15px;
            font-size: 24px;
        }
        &__large{
            left: 30px;
            font-size: 48px;
        }
    }
    &__chevronRight{
        &__medium{
            right: 15px;
            font-size: 24px;
        }
        &__large{
            right: 30px;
            font-size: 48px;
        }
    }
    &__index{
        &__large{
            position: absolute;
            bottom: 0;
            left: 50%;
            color: white;
            font-size: 18px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
        }
        &__medium{
            display: none;
        }
    }
}

.chevron{
    position: absolute;
    color: white;
    cursor: pointer;
}

.medium{
    width: 335px;
}

.large{
    width: 1240px;
}
