.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 2rem;
    &__logo{
        width: 210px;
        height: 68px;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        column-gap: 4rem;
    }
    &__element{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color:#FF6060;
        list-style-type: none;
        cursor: pointer;
        text-decoration: none;
    }
    &__element:active{
        text-decoration: underline #FF6060;
    }
}

@media (max-width:767px){
    .header{
        margin:1rem;
        &__logo{
            width: 145px;
            height: 47px;
        }
        &__nav{
            column-gap: 2rem;
        }
        &__element{
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    .house{
        text-decoration: underline #FF6060;
    }
}

@media(max-width:375px){
    .header{
        &__logo{
            height: auto;
            max-width: 80px;
            width: auto;
        }
        &__nav{
            column-gap: .5rem;
        }
    }
}


@media (min-width:768px){
    .header{
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 94%;
    }
    .house{
        text-decoration: none;
    }
}

.underline{
    text-decoration: underline #FF6060;
}

