.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #F7F7F7;
    border-radius: 25px;
    max-width: 1240px;
    margin: 2rem auto;
    padding: 3rem 0;
    row-gap: 3rem;
}


@media (min-width:768px) and (max-width:1240px) {
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: #F7F7F7;
        border-radius: 25px;
        max-width: 1240px;
        margin: 1.5rem auto;
        padding: 3rem 0;
        row-gap: 3rem;
    }
    .link{
        width: 90%;
    }
}

@media (max-width:767px){
    .gallery{
        background:white;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }
    .link{
        width: 100%;
    }
}

.link{
    place-self: center;
}