@media (min-width:768px) and (max-width:1439px){
    .banner{
        margin: auto;
        width: 94%;
        height: 223px;
        object-fit: cover;
        border-radius: 10px;
        max-width: 1240px;
    }
}

@media (min-width:320px) and (max-width:767px){
    .banner{
        margin: 2rem auto;
        width: 90%;
        height: 223px;
        object-fit: none;
        border-radius: 10px;
    }
}

@media (max-width:319px){
    .banner{
        max-width: 200px;
        height: 124px;
        border-radius: 10px;
        object-fit: cover;
        margin: auto;
    }
}

@media(min-width:1440px){
    .banner{
        margin: auto;
        margin-top: 2rem;
        border-radius: 25px;
    }
}

.banner{
    display: flex;
}